<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="jobboards-base" content="{{ base_path }}">
  <title>RSS</title>
</head>
<body>
  <script src="{{ base_path }}static/js/static-boot.js?v=bool2"></script>
  <script src="{{ base_path }}static/js/static-query.js?v=or2"></script>
  <script src="{{ base_path }}static/js/filters.js?v=or4"></script>
  <script src="{{ base_path }}static/js/search-suggest.js?v=bool3"></script>
  <script src="{{ base_path }}static/js/rss.js?v=rss2"></script>
</body>
</html>
